.app-container{
    display:flex;
}
 .postCard{
    width:18rem;
 }
.content{
    width:100%;
}

.sidebar{
    min-height:  100vh;;
}


.tag{
     
    margin-right:3px;
    margin-bottom:5px;
}

.no_post_msg{
    display:flex;
    justify-content:center;
    align-items: center;
}

.loader{
    margin-top:200px;
}